<section class="planet-page">
  <app-planet-info [planet]="planet$ | async"></app-planet-info>
  <ng-container *ngIf="residents$">
    <h2>Residents</h2>
    <button 
      class="planet-page__resident-btn"
      *ngFor=" let resident of residents$ | async"
      mat-raised-button 
      (click)="selectedResident = resident"
      [class.planet-page__resident-btn--selected]="selectedResident?.url === resident.url"
    >
      {{ resident.name }}
    </button>
    <app-resident-info 
      *ngIf="selectedResident"
      [resident]="selectedResident"
    ></app-resident-info>
  </ng-container>
</section>
